<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Top 5 Latest Ratings</title>
        <style>
            body {
                font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
                    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
                    Droid Sans, Helvetica, Arial, sans-serif !important;
            }
            table {
                border-collapse: collapse;

                width: 100%;
            }
            th,
            td {
                padding: 8px;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
            .main_title {
                background-color: #ffffff;
            }

            .main_titles {
                font-size: large;
                border-bottom: 1px solid #ddd;
            }
            h4 {
                margin: 0;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr class="main_titles">
                    <th class="main_title">Ms. Dariana Senger DVM</th>
                    <th class="main_title">1000 Views</th>
                    <th class="main_title">Average Ratings (5 star)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div><h4>Highlight:</h4></div>
                        <div>Exclusive</div>
                    </td>
                    <td>
                        <div><h4>Itineraries:</h4></div>
                        <div>John Doe</div>
                    </td>
                    <td>
                        <div><h4>Equipments:</h4></div>
                        <div>Laravel Daily</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!----------------- Inquiry Section -------------------------------->
        <table>
            <caption
                style="
                    font-size: large;
                    font-weight: bold;
                    border-bottom: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    padding: 10px;
                "
            >
                Inquiries(1)
            </caption>
            <thead>
                <tr>
                    <th>FULL NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th>SUBJECT</th>
                    <th>CREATED AT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kyler Ankunding</td>
                    <td>hagenes.hollie@hotmail.com</td>
                    <td>988898888</td>
                    <td>hi there i am raju</td>
                    <td>16th May 2024 10:21 AM</td>
                </tr>
            </tbody>
        </table>

        <!----------------- Reviews Section -------------------------------->
        <table>
            <caption
                style="
                    font-size: large;
                    font-weight: bold;
                    border-bottom: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    padding: 10px;
                "
            >
                Reviews(1)
            </caption>

            <caption style="border-bottom: 1px solid #ddd; padding: 10px">
                Top (5) Latest Ratings
            </caption>

            <thead>
                <tr>
                    <th>FULL NAME</th>
                    <th>EMAIL</th>
                    <th>RATING</th>
                    <th>CREATED AT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kyler Ankunding</td>
                    <td>hagenes.hollie@hotmail.com</td>
                    <td>5/4</td>
                    <td>16th May 2024 10:21 AM</td>
                </tr>
               
            </tbody>
        </table>

        <!----------------- Top 3 Highest Ratings Section -------------------------------->
        <table>
            <caption
                style="
                    border-bottom: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    padding: 10px;
                "
            >
                Top (3) Highest Ratings
            </caption>
            <thead>
                <tr>
                    <th>FULL NAME</th>
                    <th>EMAIL</th>
                    <th>RATING</th>
                    <th>CREATED AT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kyler Ankunding</td>
                    <td>hagenes.hollie@hotmail.com</td>
                    <td>5/4</td>
                    <td>16th May 2024 10:21 AM</td>
                </tr>
            </tbody>
        </table>
        <!----------------- Top 3 Lowest Ratings Section -------------------------------->

        <table>
            <caption
                style="
                    border-bottom: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    padding: 10px;
                "
            >
                Top (3) Lowest Ratings
            </caption>
            <thead>
                <tr>
                    <th>FULL NAME</th>
                    <th>EMAIL</th>
                    <th>RATING</th>
                    <th>CREATED AT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kyler Ankunding</td>
                    <td>hagenes.hollie@hotmail.com</td>
                    <td>5/4</td>
                    <td>16th May 2024 10:21 AM</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
