/* ==========bootstrap navbar starts===============*/

@media (min-width : 768px) {
	.navbar-toggle {
  display: none;
}




#mainContent .navbar-nav li a span.caret{
	display: none;
}


}
.navigation-bar {
	/*padding: 10px 0;*/
	background: #fff;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}

.navigation-bar .row{
	align-items: center;
}

.navigation-bar .nav-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*min-height: 40px;*/
}
.fixNav .navigation-bar {
	/* 	margin:0;
	padding: 0px 15px;*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.5);*/
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
.navbar {
	min-height:auto;
	margin:0;
	border:none;
	border-radius:0;
	/*padding: 0 1rem;*/
	padding:0;
	/* z-index: 1; */
	/* justify-content: end; */
}
.fixNav .navbar {
	padding: 0 1rem;
}
.navbar-brand {
	height:auto;
	padding:0;
}
.navbar-collapse {
	padding: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#fff;
}
.logo_smallscreen {
	display:none;
}
.navbar .navbar-header .navbar-brand {
	display:none;
}
.navbar-inverse {
	background-color:transparent;
	border:none;
}
.navbar-default {
	background-color:transparent;
	border:none;
	/*text-align:center;*/
	/*	padding: 17px 0;*/
		transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
.navbar-nav {
	display: -ms-flexbox;
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* justify-content: space-between; */
/*	float:none;
	display:inline-block*/
}
.navbar-nav li {
	position:relative;
/*	float: none;
	display: inline-block;*/
}
.navbar-inverse .navbar-nav li a {
	color:#038846;
	font-weight:700;
	font-size:14px;
	text-transform:uppercase;
}
.navbar-default .navbar-nav li a {
	color: #0D2C40;
	font-size:16px;
	padding: 20px 10px;
	font-weight: 700;
	display: block;
	/*transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;*/
	
}

 
.navbar-default .navbar-nav li.active a:before,
.navbar-default .navbar-nav li a:hover:before
{
	content: "";
	position: absolute;
	bottom: 0;
	border-bottom: 4px solid #16ABF8;
 
	width: 100%;
	left: 0;
}


.navbar-default .navbar-nav li.active a:after,
.navbar-default .navbar-nav li a:hover:after
{
	/* content: "\f0d7";
	font-family: var(--fa-style-family, "Font Awesome 6 Free");
	position: absolute;
	bottom: 7px;
	border-bottom: 4px solid #16ABF8;
	left: 50%;
	width: 0;
  height: 0;
  transform: translateX(-50%);
  color: #16ABF8; */


  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  color: #16ABF8;
  transform: translateX(-50%);
  border-color: #16ABF8 transparent transparent transparent;
  width: 0;
  height: 0;
  border-width: 9px 6px 0 6px;
  border-style: solid;



}

 .navbar-nav li a{
		padding: 10px 10px;
}


#mainContent .navbar-nav li a span.caret {
	margin-left: 4px;
}

#mainContent .navbar-nav li a i{
	font-size: 12px;
	transition: 0.5s ease-in-out;

}


#mainContent .navbar-nav li.active a i{
	/* transform:rotate(180deg); */

}



#mainContent .navbar-nav li a:hover i{
	transform:rotate(180deg);
	transition: 0.5s ease-in-out;

}



#mainContent .navbar-nav li.has-child a:hover i{
	transform: none;

}



.fixNav .navbar-default .navbar-nav li a {
/*	 transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	padding: 7px 15px;
*/

}
.dropdown-menu > li > a {
	padding: 10px 20px;
	color: #fff;
	margin: 5px 0;
	font-weight:700;
	font-size:13px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #30414f;
	color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #16ABF8;
	background-color: transparent;
}
.navbar-default .navbar-nav ul.dropdown-menu::before {
	content: "";
	position: absolute;
	left: 50px;
	top: -9px;
	transform: translate(0%, -50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 17.3px 10px;
	border-color:transparent transparent #464646 transparent;
	display: none;
}
.navbar-default .navbar-nav ul.dropdown-menu {
	min-width:160px !important;
	/*width: 100% !important;*/
/*max-width: 100% !important;*/
/*display:block !important;*/
/*position:fixed;*/
/*margin-left:0 !important;*/ 
	width: auto !important;
	max-width: none !important;
	border-radius:0;
	position: absolute;
/* top: 110%; */
left: 0;
z-index: 1000;
}
/*ADDED LATER*/

.navbar-default ul.navbar-nav li ul.dropdown-menu {
	display:block;
	border-radius: 0;
	border: none;
	box-shadow: 0 20px 60px #ddd;
	opacity: 0;
	visibility: hidden;
/* 	
	-moz-transform: scale(.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8); */
/*	transition: all 0.2s;*/
	/* -moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s; */
	background: #464646;
	/* transition: all 200ms linear; */
/* transform: translate3d(0, 50px, 0); */
background-color: rgb(84, 197, 255);
	
}
.navbar-default ul.navbar-nav li:hover ul.dropdown-menu {
	visibility: visible;
	opacity: 1;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.dropdown-menu li.sub_menu {
	float:left;
	width: 127px;
}
.navbar-default .navbar-nav ul.dropdown-menu li.sub_menu a {
	color:#c11111;
	text-transform:uppercase;
	font-size:14px;
	border-bottom:1px solid #4c4c54;
}
.navbar-default .navbar-nav ul.dropdown-menu ul.menu_list {
	padding: 10px 20px;
	display: block !important;
}
.navbar-default .navbar-nav ul.dropdown-menu ul.menu_list li a {
	color:#fff;
	font-size:14px;
	text-transform: inherit;
	font-weight: 500;
	border-bottom: none;
	line-height: 30px;
	display:inline-block;
	background-color:transparent;
}
.navbar-default .navbar-nav ul.dropdown-menu ul.menu_list li a:hover {
	background-color:transparent;
	opacity:0.7;
}
.navbar-default .navbar-nav ul.dropdown-menu li a {
	color: #fff;
	margin: 0;
	white-space: nowrap;
	/* white-space:wrap; */
	padding: 10px;
	font-size:15px;
	position:relative;
	z-index: 1;/*background-color:red;*/
}
.navbar-default .navbar-nav ul.dropdown-menu li a:hover {
	 
	color:#fff;
}


.navbar-default .navbar-nav ul.dropdown-menu li a:before{
	display: none;

}


.navbar-default .navbar-nav ul.dropdown-menu li a:after {
	display: none;
	content: '';
	position: absolute;
	height: 100%;
	width: 0%;
	top: 0;
	left: 0;
	/* background-color: #0c0d0d; */
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	z-index: -1;
}
.navbar-default .navbar-nav ul.dropdown-menu li a:hover:after {
	/* width: 100%; */
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
/*.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}*/
 
 
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: rgba(255, 94, 20, 0.9);
	color:#fff;/*	background-color:transparent;
	color: #191919;*/
}
.fixNav .navbar-default .navbar-nav > .open > a, .fixNav .navbar-default .navbar-nav > .open > a:hover, .fixNav .navbar-default .navbar-nav > .open > a:focus {
	/*	background-color:transparent;
	color: #fff;*/
	/* background-color: rgba(255, 94, 20, 0.9); */
	/* background-color:transparent;
	color: #fff; */
	/*	height: 34px;
	line-height: 34px;
	padding: 0 10px;*/
	
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color:#306188;
	color:#fff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: rgba(48, 97, 136,0.8);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:transparent;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color:#93a533;
	color:#fff;
}
.navbar-default ul.dropdown-menu > li > a:hover, .navbar-default ul.dropdown-menu > li > a:focus {
	background-color: rgba(15, 51, 193,0.90);
	color:#fff;
}
.navbar-inverse .navbar-toggle {
	border:none;
	padding: 8px 7px;
	background-color: #306188;
}
.navbar-nav > li > .dropdown-menu {
	background-color: #000005;/*******/
	border:none;
	box-shadow:none;
}
.dropdown-menu {
	padding:0;
	margin:0;
}
.dropdown-menu > li {
	position:relative;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
}
.navbar-nav .open .dropdown-menu {
	display:block !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #306188;
	color: #fff;
}

 
/* //<<<<<<<<<<SUB MENU DROPDOWN CSS Starts from here >>>>>>>>>>>>>>>>*/

li.has-child {
	position: relative;
}
ul.sub-dropdown-menu {
	display:none;
}
li.has-child:hover > ul.sub-dropdown-menu {
	display: block;
	background-color: rgb(84, 197, 255);
}
li.has-child > ul.sub-dropdown-menu {
	position:absolute;
	top: 0 !important;
	left: -100%;
	margin-top:0 !important;
	padding: 0;
	border-radius: 0;
	border: none;
	background:#54c5ff;
	z-index: 1000;
	min-width: 100%;
	width:100%;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-mox-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
li.has-child > ul.sub-dropdown-menu li a {
	display:block;
	padding:10px;
	/* text-transform:uppercase; */
}
 
 

.navbar-default .navbar-nav ul.dropdown-menu li.has-child > a{
	padding: 10px 20px;
}



.navbar-default .navbar-nav ul.dropdown-menu li.has-child > a:after{

	display:block;
	content: " ";
	width: 0;
	height: 0;
	background:transparent;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #fff;
	margin-left:10px;
	transform: rotate(180deg);
  top: 40%;
  
}

li.has-child:hover > a::after {
	border-left-color: #fff;
}

#mainContent .navbar-nav li.has-child i{
	padding-left: 19px;
}

.dropdown-menu li.sub_menu {
	float:left;
	width: 127px;
}
.navbar-default .navbar-nav ul.dropdown-menu li.sub_menu a {
	color:#c11111;
	text-transform:uppercase;
	font-size:14px;
	border-bottom:1px solid #4c4c54;
}
.navbar-default .navbar-nav ul.dropdown-menu ul.menu_list {
	padding: 10px 20px;
	display: block !important;
}
.navbar-default .navbar-nav ul.dropdown-menu ul.menu_list li a {
	color:#fff;
	font-size:14px;
	text-transform: inherit;
	font-weight: 500;
	border-bottom: none;
	line-height: 30px;
	display:inline-block;
	background-color:transparent;
}
.navbar-default .navbar-nav ul.dropdown-menu ul.menu_list li a:hover {
	background-color:transparent;
	opacity:0.7;
}
.navbar-default .navbar-nav ul.dropdown-menu li a {
	color: #fff;
	margin: 0;
	/* white-space: nowrap; */
	white-space:wrap;
	padding: 10px;
	font-size:15px;
	position:relative;
	z-index: 1;
	background-color:transparent;
	font-weight: 600;
}
.navbar-default .navbar-nav ul.dropdown-menu li a:hover {
/*	background-color: #404040;
	color:#fff;*/
	background-color: #457d992e;
}
.navbar-default .navbar-nav ul.dropdown-menu li a:after {
/*content: '';
position: absolute;
height: 100%;
width: 0%;
top: 0;
left: 0;
background-color: #0083d7;
transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
-o-transition: all 0.4s ease-in-out 0s;
-webkit-transition: all 0.4s ease-in-out 0s;
-ms-transition: all 0.4s ease-in-out 0s;
z-index: -1;*/
}
.navbar-default .navbar-nav ul.dropdown-menu li a:hover:after {
	/* width: 100%; */
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
/*.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}*/
 
 
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	/* background-color:rgba(194, 194, 194, 0.9); */
	color: #0D2C40;
	background-color: transparent;
  
	/*	background-color:transparent;
	color: #191919;*/
	 
}
.fixNav .navbar-default .navbar-nav > .open > a, .fixNav .navbar-default .navbar-nav > .open > a:hover, .fixNav .navbar-default .navbar-nav > .open > a:focus {
	/*	background-color:transparent;
	color: #fff;*/
	/*background-color: rgba(255, 94, 20, 0.9);*/
	/* color: #fff; */
	/*	height: 34px;
	line-height: 34px;
	padding: 0 10px;*/
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color:#306188;
	color:#fff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: rgba(48, 97, 136,0.8);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:transparent;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color:#93a533;
	color:#fff;
}
.navbar-default ul.dropdown-menu > li > a:hover, .navbar-default ul.dropdown-menu > li > a:focus, li.has-child > ul.sub-dropdown-menu li a:hover, li.has-child > ul.sub-dropdown-menu li a:focus {
	color:#fff;
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	border:none;
	padding: 8px 7px;
	background-color: #306188;
}
.navbar-nav > li > .dropdown-menu {
	background-color:#d74022;/*******/
	border:none;
	box-shadow: none;
}
 
 
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
}
.navbar-nav .open .dropdown-menu {
	display:block !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #306188;
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	/* background-color: #444;
	color: #f7c08a; */
}
li.has-child .caret {
	display:none;
}





li.has-child.third-child{
	position: relative;
}


li.third-child ul.third-dropdown-menu{
	position: absolute;
	top: 0 !important;
	left: -100% !important;
	width: 100% !important;
	min-width: auto;
  max-width: none;
	margin-left: auto !important;
  margin-top: 0 !important;
  background-color: #54C5FF;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -o-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -mox-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  opacity: 0;
  visibility: hidden;

}
 
li.third-child:hover > ul.third-dropdown-menu 
{
	display: block;
	opacity: 1;
	visibility: visible;
	line-height: 17px;
  }




  .navbar-default ul.navbar-nav li ul.dropdown-menu li{
	line-height: 17px;

  }
 








 @media (max-width: 767px) {
	 
	 
	#mainContent .navbar-nav li a i{
		display: none;
	}
	 
	 	 .navbar {
	z-index:auto;
}
	 
	.navbar-default ul.navbar-nav li ul.dropdown-menu{
	display:none;
	opacity:1;
	visibility:visible;
	
	-moz-transform:none;
	-webkit-transform: none;
	-o-transform: none;
		transform:none;
	min-width:100% !important;
}
li.has-child > ul.sub-dropdown-menu {
	position:static;
	padding:0 1rem;
	box-shadow:none;
	background:transparent;
}
li.has-child > ul.sub-dropdown-menu {
/*	position:static;
	top: 0 !important;
	left: 100%;
	margin-top:0 !important;
	padding: 0;
	border-radius: 0;
	border: none;
	background:#424242;
	z-index: 1000;
	min-width: 100%;
	width:100%;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-mox-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/

 
 

}
	 
	 
.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-nav .open .dropdown-menu {
	background-color: #ddd;
	background-color: rgba(101, 179, 60,0.9);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color:#fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	/* color:#777; */
}
.navbar-default {
	text-align:left;
}
.navbar-nav {
	display:block;
}
.navbar-nav li {
	display:block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus,  .navbar-default .navbar-nav > .active > a:hover,  .navbar-default .navbar-nav > .active > a:focus {
/*	background-color:#890200;*/
}



.navbar-default .navbar-nav li a:hover {
    background: none;
   color: #777;
}



.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color:#fff;
}
.navbar-default .navbar-nav ul.dropdown-menu li a {
	width:100%;
}
.navbar-default {
	padding:0;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #306188;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
	background-color: #93a533;
	color: #fff;
}
li.has-child a {
	background: #306188;
	color: #fff;
}
li.has-child > ul.sub-dropdown-menu {
	/* position: absolute;
	top: 30px;
	left: 0; */
	box-shadow:none;
}
li.has-child:hover > ul.sub-dropdown-menu {
	display:none;
}
.navbar-nav ul.dropdown-menu li.has-child a:hover, .navbar-nav ul.dropdown-menu li.has-child a:focus {
}
.navbar-nav.sm-collapsible li.has-child.open, .navbar-nav.sm-collapsible li.has-child.open a {
	/* background: #a5a1a1; */
	font-weight: 500 !important;
	line-height: 21px;
}



li.third-child ul.third-dropdown-menu{
	opacity: 1;
	visibility: visible;
	position: static;

}


.navbar-default .navbar-nav ul.dropdown-menu li.has-child > a{
	padding: 10px;
	/* font-weight: 600 !important; */
}



li.has-child > ul.sub-dropdown-menu a {
	font-weight:400 !important;
	line-height: 12px;
}
.navbar-nav.sm-collapsible li.has-child .caret {
	display: inline-block;
	border: none;
}
#mainContent .navbar-nav.sm-collapsible .caret, #mainContent .navbar-nav.sm-collapsible ul .caret {
	background-color: #fff;
	border-radius: 0;
	color: #363c47;
	top: 50% !important;
	transform: translateY(-50%);
	padding: 0;
	height: 30px;
	width:30px;
	line-height: 25px;
}
 
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 10px 15px 5px 25px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	background-color: #93a533;
}
.dropdown-menu > li > a::after {
	display:none;
}
.navbar .navbar-header .navbar-brand {
	display:inline-block;
}
.navbar-default .navbar-nav > li > a i {
	display:inline-block;
}
.navbar-default .navbar-nav > li > a {
	line-height:inherit;
	/*padding: 10px;*/
		padding: 20px 10px;
}
.navbar-default .navbar-nav ul.dropdown-menu li a {
	color:#fff;
}
.navbar-default .navbar-nav ul.dropdown-menu {
	position:static;
}

.navbar-default .navbar-nav li.active a::after, .navbar-default .navbar-nav li a:hover::after,
.navbar-default .navbar-nav li.active a::before, .navbar-default .navbar-nav li a:hover::before
{
	display: none;
}


 



}

/* ==========bootstrap navbar ends===============*/
