:root {
    --bg-header: rgb(45, 171, 226);
    --bg-white: #fff;
    --bg-scrollbar-thumb: #0606065c;
    --bg-scrollbar-track: #0e506cdb;
    --bg-btn-default: #16527d;
    --bg-primary: #db1c1c;
    --bg-primary2: #16abf8;
    --bg-secondary: #425b6b;
    --bg-heading: #0d2c40;
    --text-danger: #fb3b3b;
    --bg-logo-yellow: #fdde58;
    --bg-background: #ebf0f3;
    --white-color: #fafafa;
}

* {
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* min-height:8000px; */
}
body.popup {
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
a {
    color: inherit;
    /*transition: all 0.4s ease-in-out 0s;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover,
.btn:hover {
    color: inherit;
    /*transition: all 0.4s ease-in-out 0s;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
.btn:focus {
    /*outline: none !important;*/
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    /* transition: all 0.4s ease-in-out 0s; */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
input,
button,
select,
textarea {
    border-radius: 0;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none !important;
}
input[type="number"] {
    /*	appearance:textfield;
  -moz-appearance: textfield;
  -webkit-appearance:textfield;*/
}
select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select_dropdown {
    position: relative;
}
.select_dropdown select {
    padding-right: 20px;
}
.select_dropdown::after {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: 700;
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #4b4f56;
    font-size: 14px;
}

.select_date {
    position: relative;
}
.select_date:after {
    font-family: "Font Awesome 6 Free";
    font-weight: var(--fa-style, 400);
    content: "\f133";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #4b4f56;
    font-size: 14px;
}
.search-field {
    position: relative;
}
.search-field:after {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #4b4f56;
    font-size: 14px;
}
.btn {
    position: relative;
}
.btn::after {
    /*position: absolute;*/
    right: 0;
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    margin-right: 10px;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
/*.btn-primary {
	background-color: #333333;
	border-radius: 10px;
	font-weight: 600;
}
.btn-primary:hover {
	color: #fff;
	background-color: #dc3545;
}*/
.btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff;
}

.btn-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d;
}
.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545;
}
/* to change arrow fill color, add %23 infront of hex color */
select.one {
    background: url(../images/santa-arrow-down.svg) no-repeat;
    background-color: #fff;
    /*background-position: 95% 17px;*/
    /*background-size: 20px 30px;*/
    background-position: calc(100% - 10px) 50%;
    background-size: 17px;
}
/* to change arrow fill color, add %23 infront of hex color */
select.two {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%237ab84e'><polygon points='0,0 100,0 50,50'/></svg>")
        no-repeat;
}
/* to change arrow fill color, add %23 infront of hex color */
select.three {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23d35400 '><polygon points='0,0 100,0 50,50'/></svg>")
        no-repeat;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    line-height: normal !important;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    /* opacity: 0;*/
}

p.checkbox input[type="checkbox"] {
    margin-left: 0;
    position: static;
    width: auto;
}

p {
    font-size: 14px; /*line-height: 1.6em;*/
}
p.margin {
    margin-bottom: 20px;
}
p.section_quote {
    color: #475766;
}
p.section_heading {
    color: #6a7a83;
}
b {
    color: #0e0000;
}
figcaption {
    /*line-height: 24px;*/
}
.form-control {
    font-weight: 400;
    color: #000;
    border: 1px solid #5c7a8c;
}
.form-control::placeholder,
.form-control::-moz-placeholder,
.date {
    color: #5c7a8c;
    font-weight: 700;
    font-size: 16px;
}

.form-control::-webkit-input-placeholder {
    /*for chrome & safari*/
    color: #5c7a8c;
    font-weight: 700;
    font-size: 16px;
}

.field-icon {
    /*	float: right;
	margin-left: -25px;
	margin-top: -25px;
	position: relative;
	right:1%;
	z-index: 2;*/
    position: absolute;
    right: 1%;
    z-index: 1;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.password-field {
    padding-right: 26px !important;
}
textarea.form-control {
    resize: none !important; /*height: 125px;*/
}
label {
    display: block;
    margin: 0;
}
.center {
    text-align: center;
}
.title_center {
    text-align: center;
}
heading {
    font-weight: 700;
}
.section_heading {
    display: block;
}
.align_center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
iframe {
    max-width: 100%;
    width: 100%;
    z-index: 1;
    /*margin-bottom:-4px;*/
    margin-bottom: -6px;
}
address,
article {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
/*title css starts*/

.inline_title {
    display: inline-block;
    vertical-align: middle;
}
.title_bar {
    margin-bottom: 20px;
}
/*clear css starts*/

.clear {
    clear: both;
}
.clear_tp {
    margin-bottom: 30px;
}
.clear_bt {
    margin-top: 30px;
}
.clear_lt {
    padding-left: 0;
}
.clear_rt {
    padding-right: 0;
}
.d-flex {
    /* display: -webkit-box !important;  */
    /* display: -moz-box; */
    /* display: flexbox;
	display: -ms-flexbox !important; */
    display: flex !important;
    /* display: -webkit-flex; */
}
.d-inline-flex {
    /* display:-webkit-inline-box !important; */
    /* display: -moz-inline-box; */
    /* display: inline-flexbox;
	display: -ms-inline-flexbox !important; */
    display: inline-flex !important;
    /* display:-webkit-inline-flex; */
}

.d-grid {
    display: grid;
}

.fw-thin,
.fw-100 {
    font-weight: 100;
}
.fw-extra-light,
.fw-200 {
    font-weight: 200;
}
.fw-light,
.fw-300 {
    font-weight: 300;
}
.fw-regular,
.fw-400 {
    font-weight: 400;
}
.fw-medium,
.fw-500 {
    font-weight: 500;
}
.fw-semi-bold,
.fw-600 {
    font-weight: 600;
}
.fw-bold,
.fw-700 {
    font-weight: 700;
}
.fw-extra-bold,
.fw-800 {
    font-weight: 800;
}
/* image css starts*/

img {
    max-width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.img-circle {
    /*text-align: center;*/
    /*margin:0 auto;*/
    /*border-radius: 0;*/
    /*background: red;*/
}
.img-circle img {
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 172px;
    height: 172px;
    /*margin:0 auto;*/
}
author {
    font-weight: 500;
    font-size: 14px;
    display: block;
}
author span {
    display: block;
    font-weight: 400;
}
span.time {
    display: block;
}
author small {
    font-size: 14px;
    font-weight: 500;
}
.txt_wrapper {
    line-height: 26px;
}
.section_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.inner_content {
    margin: 30px auto;
}
.row_holder {
    margin: 30px -15px;
}
.pad_tp {
    padding-top: 30px;
    padding-bottom: 0;
}
.pad_bt {
    padding-bottom: 30px;
    padding-top: 0;
}
.space_tp {
    margin-top: 30px;
    margin-bottom: 0;
}
.space_bt {
    margin-bottom: 30px;
    margin-top: 0;
}
.flt_lft {
    float: left;
    margin-right: 20px;
}
.flt_rht {
    float: right;
    margin-left: 20px;
}
/*figure css starts*/

figure {
    margin: 0;
}
.col-img-50 {
    max-width: 50%;
}
.col-img-50.flt_rht {
    margin-left: 40px;
}
.col-img-50.flt_lft {
    margin-right: 40px;
}

.mw-50 {
    max-width: 50%;
}
.mw-none {
    max-width: none;
}

.thumbnail_image {
    /* max-width: 360px;
	max-height: 400px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center; */
}
.thumbnail_full {
    /* max-height: 340px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center; */
}
.thumbnail_full img {
    width: 100%;
}
.thumbnail_lft {
    /*    float: left;
	margin-right: 20px;
    max-width: 555px;
    max-height: 410px;
    overflow: hidden;*/
}
.thumbnail_rht {
    /*    float:right;
	margin-left: 20px;
    max-width: 555px;
    max-height: 410px;
    overflow: hidden;*/
}
.thumbnail_big {
    /*	max-width: 640px;
	max-height: 390px;
	margin-right: 50px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;*/
}
.main-row {
}
.sub-row {
}
.table-row {
    display: table;
    width: 100%;
}
.table-row .col {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
/*-------BUTTON CSS STARTS---------*/

.btn:focus,
button:focus,
input[type="submit"]:focus {
    /* opacity: 0.7; */
}
.btn {
    /*	color: #244e82;
	background-color: transparent;*/
    display: inline-block;
    text-shadow: none;
    padding: 10px 30px;
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    position: relative;
}
.btn:hover {
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.btn_white {
    color: #fff;
}
.btn_white:hover {
    color: #fff;
    opacity: 0.7;
}
.btn-danger:hover {
    background-color: #000;
    color: #fff;
}
/*.btn:before {
	position: absolute;
	left: 0;
	font-family: 'FontAwesome';
	margin-left: 10px;
}
.btn:after {
	position: absolute;
	right: 0;
	font-family: 'FontAwesome';
	margin-right: 10px;
}
.read_btn {
	background-color: #0093d9;
	color: #fff;
	border: 1px solid transparent;
}
.read_btn:after {
	content: "\f101";
}


.btn-submit:before {
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	margin-left: 10px;
}
.btn-submit:after {
	font-family: 'FontAwesome';
	position: absolute;
	right: 0;
	margin-right: 10px;
}
*/

.btn-default {
    /*	margin-top: 20px;*/
}
.slide-text .slide_btn {
    background-color: #ec2227;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 500;
    margin-top: 30px;
}
.slide-text .slide_btn:hover {
    background-color: #ddd;
    color: #0d0c0c;
}
.view_btn {
    background-color: var(--bg-primary);

    color: #fff;
    border: 1px solid transparent;
    margin: 30px auto;
    /* height: 40px;
	line-height: 40px;
	width: 161px; */
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}
.view_btn:hover {
    color: #fff;
    opacity: 0.7;
}
.btn:hover:after {
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.button_bar {
    margin: 30px 0;
}
.btn_center {
    text-align: center;
    margin: 0 auto;
}
.btn-submit {
    display: block;
    width: auto;
    font-size: 14px;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    border: 1px solid #f96922;
    color: #f96922;
}
.btn-submit:hover {
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    background-color: #f96922;
    color: #fff;
    border: 1px solid transparent;
}
/*----------BUTTON CSS ENDS-------------*/

/*---HEADING TITLE CSS STARTS------*/

/*h1 {
	font-size: 36px;
	font-weight: 700;
}
h2 {
	font-size: 30px;
	font-weight: 600;
}
h3 {
	font-size: 24px;
	font-weight: 500;
}*/
h4,
.h4 {
    font-size: 18px;
    font-weight: 400;
}
h5,
.h5 {
    font-size: 14px;
    font-weight: 400;
}
h1.page_title {
}
h1.section_title {
    font-size: 36px;
    font-weight: 700;
    color: var(--bg-heading);
    position: relative;
    letter-spacing: -1px;
    padding-left: 50px;
}

h1.section_title:before {
    content: url(../images/title_icon.png);
    position: absolute;
    top: 0;
    left: 2px;
}

h1.section_title span {
    color: var(--bg-primary);
}

h2.section_title {
    margin: 30px 0px;
    font-weight: 600;
}
.section_title .title {
    color: #4b4b4b;
    position: relative;
    padding: 0 0 10px;
    border-bottom: 1px solid #ddd;
    display: block;
    left: 0;
    max-width: 320px;
    text-transform: uppercase;
}
.section_title .title::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 2px;
    width: 50px;
    bottom: -1px;
    border-bottom: 1px solid #00acc1;
    transform: translateX(-50%);
}
.section_title .title.center {
    left: 50%;
    transform: translateX(-50%);
}
h2.sub_title {
    text-transform: uppercase;
    color: #001727;
    position: relative;
    padding: 0 0 10px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
    overflow: hidden;
}
h2.sub_title:after {
    content: "";
    position: absolute;
    left: 0;
    height: 7px;
    width: 55px;
    bottom: 0px;
    background-color: #204b80;
}
.section_title {
    /* color: #4b4b4b;
	position: relative;
	padding: 0 0 10px;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	text-transform:uppercase; */
}
.section_title.center::after {
    left: 50%;
    transform: translateX(-50%);
}
/* .section_title::after {
	content: "";
	position: absolute;
	left: 50%;
	height: 2px;
	width: 50px;
	bottom: -1px;
	border-bottom: 1px solid #00acc1;
	transform: translateX(-50%);
} */
.section_title.left,
.section_title.left:after {
    left: 0;
    transform: none;
}
.section_title.right,
.section_title.right:after {
    right: 0;
    transform: none;
}
.white_txt {
    color: #fff !important;
}
h1.dash {
    position: relative;
    color: #0f1254;
    display: inline-block;

    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    padding: 0 100px;
    text-align: center;
}
h1.dash::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 75px;
    background-color: #b52500;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1.dash::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 75px;
    background-color: #b52500;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1.breadCrumb_title {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
h2.breadCrumb_title {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
/*---HEADING TITLE CSS ENDS------*/

/*Table css starts*/
table {
    border: 1px solid #d5d5d5;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
table thead th,
table tbody td {
    vertical-align: top;
    font-size: 14px;
    border: 1px solid #dddddd;
    padding: 10px; /*  text-align: center;*/
}
table thead th:nth-child(1) {
    /*text-align:center;
	background: #f4f4f4;*/
}
table tbody td:nth-child(2n + 1) {
    /*background-color: #ca0404;*/
}
table tbody td:nth-child(1) {
    /*    background-color: #ddd;*/
}
table tbody td:nth-child(2) {
    /*background:red;*/
}
table tbody tr:nth-child(2n + 1) {
    /* background-color: yellow;*/
}
table tbody tr:nth-child(1) {
    /*background-color: yellow;*/
}
/*Table css ends*/

/*grid col css starts*/

.grid {
    padding: 0;
}
.grid-2 {
}
.grid-3 {
}
.grid-4 {
}
.grid-6 {
}
.grid-8 {
}
.grid-9 {
}
.two_equal .col {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;
}
.three_equal .col {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;
}
.four_equal .col {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;
}
.five_equal .col {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;
}
.six_equal .col {
    display: inline-block;
    vertical-align: top;
    width: 16%;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;
}
/*------------push up style starts-------------*/

#back-top {
    bottom: 30px;
    position: fixed;
    right: 20px;
    z-index: 99;
}
#back-top a {
    border-radius: 50%;
    color: #fff;
    display: block;
    /*	height: 50px;
	width: 50px;
	line-height: 50px;*/
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s; /*	box-shadow: 0px 0px 1px 1px rgba(64, 43, 43,0.5);*/
}
#back-top a:hover {
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
}
#back-top i {
    font-size: 24px;
    color: #fff;
}
/*-----------push up style ends----------*/

/*-----MAP CSS STARTS------*/

.map {
    /*	padding: 10px;
	margin-top:0;
	border: 1px solid #fff;
	box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
	border: 1px solid #c4c4c4;
	border-radius:0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
	background: none repeat scroll 0 0 #fff;*/
    /*margin-bottom: -5px;*/
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
    width: auto;
}
.map iframe {
    width: 100%; /*height: 310px;*/
}
/*-------MAP CSS ENDS------*/

/*====Google Captcha css starts=======*/
.captcha {
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #4c4a4b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 320px;
}
@media screen and (max-width: 500px) {
    .captcha {
        /*flex-direction:column;*/
    }
    .captcha .text {
        margin: 0.5em !important;
        text-align: center;
    }
    .captcha .logo {
        align-self: center !important;
    }
    .captcha .spinner {
        margin: 2em 0.5em 0.5em 0.5em !important;
    }
}
.captcha .text {
    font-weight: 400;
    margin-right: 1em;
}
.captcha .spinner {
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    margin: 2em 1em;
    align-items: center;
    justify-content: center;
}
.captcha input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.captcha input[type="checkbox"] + .checkmark {
    /*	display:inline-block;*/
    width: 2em;
    height: 2em;
    background-color: #fcfcfc;
    border: 2.5px solid #c3c3c3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.captcha input[type="checkbox"] + .checkmark span {
    content: "";
    position: relative; /*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
    margin-top: -3px;
    transform: rotate(45deg);
    width: 0.75em;
    height: 1.2em;
    opacity: 0;
}
.captcha input[type="checkbox"] + .checkmark > span:after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #029f56;
}
.captcha input[type="checkbox"] + .checkmark > span:before {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    bottom: 0;
    right: 0;
    background-color: #029f56;
}
.captcha input[type="checkbox"]:checked + .checkmark {
    animation: 2s spin forwards;
}
.captcha input[type="checkbox"]:checked + .checkmark > span {
    animation: 1s fadein 1.9s forwards;
}
.captcha input[type="checkbox"]:checked + .checkmark > span:after {
    animation: 0.3s bottomslide 2s forwards;
}
.captcha input[type="checkbox"]:checked + .checkmark > span:before {
    animation: 0.5s rightslide 2.2s forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bottomslide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes rightslide {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
.captcha .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    align-self: flex-end;
    margin: 0.5em 1em;
}
.captcha .logo img {
    height: 2em;
    width: 2em;
}
.captcha .logo p {
    color: #9d9ba7;
    /*	margin:0;*/
    font-size: 1em;
    font-weight: 700;
    margin: 0.4em 0 0.2em 0;
}
.logo small {
    color: #9d9ba7;
    margin: 0;
    font-size: 0.8em;
}
@keyframes spin {
    10% {
        width: 0;
        height: 0;
        border-width: 6px;
    }
    30% {
        width: 0;
        height: 0;
        border-radius: 50%;
        border-width: 1em;
        transform: rotate(0deg);
        border-color: rgb(199, 218, 245);
    }
    50% {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border-width: 4px;
        border-color: rgb(199, 218, 245);
        border-right-color: rgb(89, 152, 239);
    }
    70% {
        border-width: 4px;
        border-color: rgb(199, 218, 245);
        border-right-color: rgb(89, 152, 239);
    }
    90% {
        border-width: 4px;
    }
    100% {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        transform: rotate(720deg);
        border-color: transparent;
    }
}
/*::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}*/

/*====Google Captcha css ends=======*/

/*>>>>>>>>>>>>>HEADER CSS STARTS<<<<<<<<<<<<*/

#billboard {
    position: relative;
}
/*#billboard .main_header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
 */

.main_header {
    /* position: absolute; */
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 10px 0px;
}
.logo_holder {
    /* max-width: 250px;
	max-width: 220px; */
    /*width: 155px;*/
    /* margin: 0 auto;
	text-align: center; */
    /*height: 64px;*/
    position: relative;
    z-index: 2;
    /*background: red;*/
}
.logo_holder img {
    /*	position: absolute;
	z-index:2;
	top: 0;
	left: 0;*/
    /* width:100%; */
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
#pav-mainnav {
    top: -100px;
    transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
}
.fixNav {
    position: fixed;
    top: 0 !important;
    transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    width: 100%;
    z-index: 999;
}
.sticky-nav {
    position: fixed;
    top: 0;
    transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    width: 100%;
    z-index: 1;
}
.fixNav .logo_holder {
    /*height: 44px;*/
}
.fixNav .logo_holder img {
    /* width: 60%; */
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.fixNav .navigation-bar {
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.5);*/
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
/*>>>>>>>>>>>>>HEADER CSS ENDS<<<<<<<<<<<<*/

/*--------COPYRIGHT CSS STARTS-------*/

.copyright {
    border-top: 1px solid #6a6a6a;
    padding: 30px 0;
    background-color: #1d2e50;
    overflow: hidden;
}
.copyright .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; /*	background: #553939;
	height: 200px;*/
}
.copyright p {
    margin-bottom: 0;
    color: #fafafa;
    font-size: 15px;
}
.copyright p.lft {
    /* background: rebeccapurple; */
    flex: 1;
    display: flex;
    justify-content: flex-start;
    /*margin-right: auto;*/
    margin: 0 10px;
}
.copyright p.rht {
    /* background: #6a6a4f; */
    flex: 1;
    /*	text-align: right;*/
    display: flex;
    justify-content: flex-end;
    /*margin-left: auto;*/
    margin: 0 10px;
}
.copyright p span,
.copyright p .company_link {
    color: #f4c00c;
}
.copyright p .company_link:hover {
    text-decoration: underline !important;
}

/*--------COPYRIGHT CSS ENDS-------*/

.services_content .btm_fixed-box h3 {
    font-size: 24px;
    font-weight: 700;
}
