 /* Custom, iPhone Retina */
 @media (min-width : 300px) {}
 @media (min-width : 321px) {}
 @media (min-width : 361px) {}
 @media (min-width : 401px) {}
 /* Extra Small Devices, Phones */
 @media (min-width : 481px) {}
 /* Small Devices, Tablets */
 @media (min-width : 500px) {}
 @media (min-width : 576px) {
   .mw-sm-50 {
     max-width: 50%;
   }
   .mw-sm-100 {
     max-width: 100%;
   }
   .mw-sm-none {
     max-width: none;
   }
   .w-sm-50 {
     width: 50% !important;
   }
   .w-sm-100 {
     width: 100% !important;
   }
   .w-sm-auto {
     width: auto !important;
   }
 }
 @media (min-width : 601px) {}
 @media (min-width : 641px) {}
 @media (min-width : 768px) {
   .mw-md-50 {
     max-width: 50%;
   }
   .mw-md-100 {
     max-width: 100%;
   }
   .mw-md-none {
     max-width: none;
   }
   .w-md-50 {
     width: 50% !important;
   }
   .w-md-100 {
     width: 100% !important;
   }
   .w-md-auto {
     width: auto !important;
   }
 }
 /* Medium Devices, Desktops */
 @media (min-width : 992px) {
   .mw-lg-50 {
     max-width: 50%;
   }
   .mw-lg-100 {
     max-width: 100%;
   }
   .mw-lg-none {
     max-width: none;
   }
   .w-lg-50 {
     width: 50% !important;
   }
   .w-lg-100 {
     width: 100% !important;
   }
   .w-lg-auto {
     width: auto !important;
   }
 }
 /* Large Devices, Wide Screens */
 @media (min-width : 1200px) {
   .mw-xl-50 {
     max-width: 50%;
   }
   .mw-xl-100 {
     max-width: 100%;
   }
   .mw-xl-none {
     max-width: none;
   }
   .w-xl-50 {
     width: 50% !important;
   }
   .w-lg-100 {
     width: 100% !important;
   }
   .w-xl-auto {
     width: auto !important;
   }
 }
 @media (min-width: 1350px) {
   .owl-item .item figure {
     /*	max-height:none;
	overflow:visible;
	max-width: none;*/
   }
 }
 @media (min-width: 1400px) {
   .mw-xxl-50 {
     max-width: 50%;
   }
   .mw-xxl-100 {
     max-width: 100%;
   }
   .mw-xxl-none {
     max-width: none;
   }
   .w-xxl-50 {
     width: 50% !important;
   }
   .w-xxl-100 {
     width: 100% !important;
   }
   .w-xxl-auto {
     width: auto !important;
   }
 }
 @media (min-width: 1600px) {
   .carousel-inner .item img {
     /*	width:100%;
	height:auto;*/
   }
   @media (min-width: 1800px) {}
   @media (min-width: 2000px) {}
   @media (min-width: 2500px) {}
   @media (min-width: 2800px) {}
   @media (min-width: 4000px) {}
   @media (min-width: 4500px) {}
   @media (min-width: 4700px) {}
   .modal-dialog {
     width: auto;
     max-width: none;
   }
 }
 @media (max-width: 1600px) {
   .thrill_image img {
     max-width: 150%;
     height: auto;
   }
 }
 @media (max-width: 1399px) {
   .testimonial_wrapper {
     width: auto;
   }
 }
 @media (max-width: 1349px) {
   .billboard .slider_icon_wrapper .row {
     gap: 0;
   }
 }
 @media (max-width: 1349px) and (min-width: 1200px) {}
 /* Large Devices, Wide Screens */
 @media (max-width: 1280px) {}
 @media (max-width: 1199px) {
   .container {
     padding: 0 15px;
   }
   h1 {
     font-size: 36px !important;
   }
   h2 {
     font-size: 30px !important;
   }
   h3 {
     font-size: 24px !important;
   }
 }
 @media (max-width: 1199px) and (min-width: 768px) {}
 @media (max-width: 1199px) and (min-width: 992px) {
   .navbar-default .navbar-nav li a {
     font-size: 14px;
   }
 }
 @media (max-width: 1199px) and (min-width: 1025px) {}
 @media (max-width: 1080px) {}
 @media (max-width: 1024px) {}
 /*========== Medium Devices, Desktops =========*/
 @media (max-width: 991px) {
   .table_wrapper .table_inner tr {
     display: flex;
     flex-wrap: wrap;
   }
   .table_wrapper .table_inner td {
     width: 100%;
   }
 }
 @media (max-width: 991px) and (min-width: 768px) {
   .navbar-default .navbar-nav li a {
     font-size: 14px;
     padding: 10px 10px;
   }
 }
 /* Small Devices, Tablets */
 @media (max-width: 767px) {
   .navigation-bar .container {
     padding: 0;
   }
   .billboard .slider_icon_wrapper {
     position: static;
     background: linear-gradient(90deg, rgba(37, 54, 74, 0.6), rgb(37, 54, 74));
   }
   .billboard_container {
     padding: 0;
   }
   .billboard .slider_icon_wrapper {
     display: none;
   }
   .billboard .card-caption {
     position: static;
     transform: none;
   }
   .billboard .card-caption {
     position: relative;
   }
   .trip-wrapper form .navbar .navbar-nav {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
   }
   .thumbnail_lft, .thumbnail_rht {
     float: none;
     max-width: none;
     margin: 0 0 20px;
   }
   .flt_lft img, .flt_rht img {
     width: 100%;
   }
   .fig_responsive, .img_responsive, .fig_responsive img, .img_responsive img {
     width: 100%;
   }
   .header {
     /*position:static;*/
   }
   .header .logo_holder {
     max-width: 156px;
   }
   /* .logo_holder img {
	width: 60%;
} */
   /* .fixNav .logo_holder img {
	width: 50%;
} */
   .welcome_img {
     /*   max-width: none;
    padding: 0;
    max-height: 400px;
    overflow: hidden;*/
   }
   .inner_welcome_img {
     /*	max-width:none;
	max-height:210px;
	overflow:hidden;*/
   }
   .sub_page-banner .full_banner {
     /* max-height:100px;*/
   }
   .sub_page-banner .full_banner img {
     /*   max-width: none;
    width: auto;*/
   }
   .breadCrumbNav {
     /*position:static;*/
   }
   #back-top a {
     height: 30px;
     width: 30px;
     line-height: 30px;
   }
   #back-top i {
     font-size: 18px;
   }
   .animatable {
     visibility: visible;
   }
   .footer {
     background-color: #1d2e50;
     padding: 0;
   }
   .table_head table th {
     display: block;
   }
   .billboard .bg-overlay {
     background: linear-gradient(90deg, rgba(37, 54, 74, 0.1), rgb(37, 54, 74));
   }
   .billboard .card-caption .card-title h1 {
     font-size: 30px !important;
     margin-bottom: 0;
   }
   .billboard .card-caption .view_btn {
     margin-top: 15px;
   }
   .navbar-default .navbar-nav ul.dropdown-menu li.has-child > a::after {
     display: none;
   }
   .expedition_img {
     max-width: none;
   }


.introduction_content .float-right{
  float: none !important;
}





 }
 @media (max-width: 767px) and (min-width:576px) {}
 @media (max-width: 640px) {
   .trip-wrapper .select_dropdown {
     width: 100%;
   }
 }
 @media (max-width: 600px) {}
 @media (max-width: 575px) {
   .gallery_row {
     display: block;
   }
   .logo_holder {
     display: block;
   }
   .trip-wrapper {
     padding: 0;
   }
   .billboard .card-caption .card-title h1 {
     font-size: 24px !important;
   }
 }
 @media (max-width: 499px) {}
 @media (max-width: 480px) {
   .video_gallery .video_img img {
     width: 100%;
   }
   .video_gallery .col:nth-of-type(2) figure {
     margin-top: 0;
   }
 }
 @media (max-width: 440px) {
   .col {
     /*flex: 1 1 0;*/
     /*	-ms-flex: 0 0 100%;*/
     /*flex: 0 0 100%;*/
     /*flex: 0 1 auto;*/
     /*	flex: 0 1 100%;*/
     /*	flex: 100%;*/
     flex: auto;
     max-width: none;
     /*max-width:100%;*/
   }
 }
 @media (max-width: 360px) {
   /* .two_equal .col, .three_equal .col, .four_equal .col {
	width: 100%;
}
.five_equal .col, .six_equal .col {
	width: 100%;
} */
 }
 @media (max-width: 320px) {
   .contact_form .col {
     /*  width: 100%;*/
   }
   .footer .col {
     width: 100%;
   }
 }
 @media (max-width: 299px) {
   .contact_form .col {
     /*  width: 100%;*/
   }
   .footer .col {
     width: 100%;
   }
 }